.chatStream {
  padding: 20px;
  height: 100%;
  font-size: 1.2rem;
  background-color: lightgrey;
}

.messageContainer {
  border-radius: 10px;
  padding: 5px 20px;
  line-height: 1.5rem;
}

.sent {
  background-color: rgba(0, 0, 139, .2);
  text-align: right;
  margin-left: 100px;
}

.received {
  background-color: rgba(139, 0, 0, .2);
  text-align: left;
  margin-right: 100px;
}

.chatForm {
  all: unset;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.chatInput {
  all: unset;
  flex-grow: 8;
  height: 30px;
  background-color: darkgrey;
  padding: 20px
}

.chatSubmit {
  all: unset;
  background-color: lightcoral;
  text-align: center;
  flex-grow: 1;
}

.userToggle {
  all: unset;
  background-color: lightcoral;
  text-align: center;
  height: 80%;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}